/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2014, 01:21:56 PM
    Author     : dd
*/

.tabla{
    border: thin solid blueviolet;
    background-color: antiquewhite;
}

.caption{
    font-family: "Arial";
    font-size: 16px;
}

.pie{
    text-align: center;
    color: brown;
}

.header{
    text-align: center;
    color: crimson;
}

.impar{
    height:  25px;
    text-align: center;
    color: chocolate;
}

.par{
    height:  25px;
    text-align: center;
    color: gold;
}