<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msjs.listaPageTitulo}</title>
    </h:head>
    <h:body>
        #{msjs.pageTitulo}
        <div align="center">
            <h:form>
                <h:outputText value="Ir a la pagina de cuates"/>
            <h:commandButton value="Ir" action="ListaCuates"/>
            <h:outputText value="diego"></h:outputText>
            <h:outputText value="gelias"></h:outputText>
            <h:outputText value="gelias2"></h:outputText>
            <h:outputText value="jess"></h:outputText
            
            </h:form>
        </div>
    </h:body>
</html>

