<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msjs.listaPageTitulo}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <!--<h1></h1>-->
        <h:form>
            <h:dataTable styleClass="tabla" value="#{tableData.cuates}" border="1"
                          var="cuate" captionClass="caption" rowClasses="impar,par">
                <f:facet name="caption">#{msjs.pageTitulo}</f:facet>
               
                <h:column headerClass="header" footerClass="pie">
                    <f:facet name="header">#{msjs.headercol4}</f:facet>
                    <h:selectManyCheckbox value="lenguajes">
                        <f:selectItem itemLabel="F1" itemValue="f1"/>
                        <f:selectItem itemLabel="F2" itemValue="f2"/>
                        <f:selectItem itemLabel="F3" itemValue="f3"/>
                        <f:selectItem itemLabel="F4" itemValue="f4"/>
                        <f:selectItem itemLabel="F5" itemValue="f5"/>
                        <f:selectItem itemLabel="F6" itemValue="f6"/>
                    </h:selectManyCheckbox>
                    <f:facet name="footer">#{msjs.piecol4}</f:facet>
                </h:column>
               
            </h:dataTable>
        </h:form>
    </h:body>
</html>

